/*Base #2a273f*/
/*Overlay #393552*/
/*Muted #6e6a86*/
/*Subtle #908caa*/
/*Text #e0def4*/
/*Rose #ea9a97*/

/*Roboto Slab = serif*/
/*Roboto = sans-serif*/

*   {
    margin: 500;
    padding: 500;
    height:;
}

    /* Top Navigation Section */

.navContainer ul li {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: inline;
    padding-right: 20px;
}

a:link  {
    color: #e0def4;
    text-decoration: none;
}

a:hover {
    color: #e0def4;
    text-decoration: none;
}

a:visited   {
    color: #e0def4;
    text-decoration: none;
}

/* Full Page Container. Whether or not you can see it yet, there's reason to this rhyme */
body   {
    background-color: #2a273f;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* Note Stuff */
.noteContainer  {
    display: flex;
    flex-direction: column;
}

.newNoteButton {
    color: #e0def4;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: fit-content;
    padding-top: 200%;
    border: none;
    background: none;
}

.noteTextBox {
    background-color: #393552;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: small;
    color: #e0def4;
    resize: none;
    padding: 10%;
    max-width: 100%;
    line-height: 1.5;
    border: none;
}

.noteModButton  {
    color: #e0def4;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    border: none;
    background: none;
}

/* Side Menu Stuff */
.sideMenuContainer  {
    width: 16.5%;
}

.sideMenuButton {
    color: #ea9a97;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    position: sticky;
    font-size: larger;
    top: 0;
    width: 100%;
    border: none;
    background: none;
}

.sideMenu   {
    background-color:#393552;
    color: #e0def4;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    padding: 10%;
    height: 100vh;
    justify-content: flex-start;
}

.sideMenu ul    {
    list-style: none;
    padding-left:0;
}

.sideMenuNav    {
    display: flex;
    justify-content: left;
    height: inherit;
    position: sticky;
    top: 0;
}

/* Footer */
footer {
    color: #e0def4;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    body    {
        font-size: small;
    }
    .noteContainer    {
        font-size: x-small;
        height: 10vh;
        width: 20vw;
    }
    .sideMenuContainer  {
        width: 33%;
    }
    footer {
        font-size: smaller;
    }
}
