/**/
/**/
/**/
/**/
/**/
/**/

/*Roboto Slab = serif*/
/*Roboto = sans-serif*/

*   {
    margin: 500;
    padding: 500;
    height:;
}

    /* Top Navigation Section */
.navContainer {
    display: flex;
    justify-content: right;
    height: inherit;
    position: sticky;
    top: 0;
    list-style-type: none;
}
.navContainer ul li {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: inline;
    padding-right: 20px;
}

a:link  {
    color:;
    text-decoration: none;
}

a:hover {
    color:;
    text-decoration: none;
}

a:visited   {
    color:;
    text-decoration: none;
}

/* Full Page Container. Whether or not you can see it yet, there's reason to this rhyme */
.container    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Note Stuff */
.noteContainer  {
    display: flex;
    flex-direction: column;
}

.newNoteButton {
    color:;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: fit-content;
    height: fit-content;
    display: flex;
    padding-top: 200px;
    justify-content: left;
    border: none;
    background: none;
}

.noteTextBox {
    background-color: teal;
    resize: none;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* Side Menu Stuff */
.sideMenuContainer  {
    display: flex;
    flex-direction: column;
    width: 16.5%;
}

.sideMenuButton {
    color:;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: left;
    border: none;
    background: none;
}

.sideMenu   {
    background-color:coral;
    color:;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    padding: 25px;
    height: 100vh;
    justify-content: flex-start;
}

.sideMenuNav    {
    display: flex;
    justify-content: left;
    height: inherit;
    position: sticky;
    top: 0;
    list-style-type: none;
}
.sideMenuNav ul li  {
    justify-content: left;
    list-style: none;
    padding-left: 0;
}

/* Footer */
footer {
    color:;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}